<div class="main text-center">
    <div class="container">
        <div class="pt-4 pb-0">
            <h1>Seleccione complemento</h1>
        </div>
        <div class="row pb-5">
            <div class="col-6 col-md-4 col-lg-3">
                <div class="product">
                    <img src="https://www.mcdonalds.es/api/cms/images/mcdonalds-es/e7e3b049-b72d-4feb-b19b-37690e74abb4_producto-206.png?auto=compress,format" alt="">
                    <p>Patatas fritas</p>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="product">
                    <img src="https://www.mcdonalds.es/api/cms/images/mcdonalds-es/e5b428bc-4854-4aa7-a96e-cbd6bd4ee9ee_producto-48.png?auto=compress,format" alt="">
                    <p>Patatas Deluxe</p>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="product">
                    <img src="https://www.mcdonalds.es/api/cms/images/mcdonalds-es/f905450a-f1f6-4b2b-a7e3-4dbc70561d1c_Producto+202+-+_9McN+uggets-+sin+100pollo.png?auto=compress,format" alt="">
                    <p>Nuggets de pollo</p>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="product">
                    <img src="https://www.mcdonalds.es/api/cms/images/mcdonalds-es/10585caf-4e2e-45c8-b945-99a4b1c122f9_37_SinSello.png?auto=compress,format" alt="">
                    <p>Chicken McBites</p>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="product">
                    <img src="https://www.mcdonalds.es/api/cms/images/mcdonalds-es/ffca0150-fb25-41ac-a068-a2efa4f04a24_producto-205.png?auto=compress,format" alt="">
                    <p>Maxi Bucket 25 Nuggets</p>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="product">
                    <img src="https://www.mcdonalds.es/api/cms/images/mcdonalds-es/80fa2349-8e3a-4b10-baf7-662da7de12c0_producto-43_Cherritos.png?auto=compress,format" alt="">
                    <p>Happy Cherritos</p>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="product">
                    <img src="https://www.mcdonalds.es/api/cms/images/mcdonalds-es/5fcd5f9f-a2d8-4ed8-9022-c09dba473aeb_producto-38.png?auto=compress,format" alt="">
                    <p>Alitas de pollo</p>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="product">
                    <img src="https://www.mcdonalds.es/api/cms/images/mcdonalds-es/530f704f-9a51-4bc6-85af-a681211d33c8_producto-34.png?auto=compress,format" alt="">
                    <p>Maxi Bucket 10 Alitas + 10 Nuggets</p>
                </div>
            </div>
        </div>
    </div>
</div>